body
{
    background-color: #cfcfff;
}
nav
{
    padding: 0;
}
.logo
{

    color: black;
}
span
{
    color: cyan;
    margin: 10px;
}
ul li 
{
    
    list-style-type: none;
}
ul li
{
    color: black;
    transition: .3s;   
}
ul li:hover
{
    color: cyan;
    transition: .3s;
}
