body
{
   background-color: #ddddff;
}
a
{
   text-decoration: none;
   margin: 10px;
   color: black;
   transition: .4s;
}
a:hover {
   text-decoration: none;
   margin: 10px;
   color: yellow;
   transition: .4s;
}
.nav
{
   padding: 0;
}
.INF
{
   font-size: 150%;
   font-weight: bold;
   margin: 10px;
}
.FTL
{
   font-size: 150%;
   font-weight: bold;
   color: orange;
   margin: 10px;
}
