body
{
    background-color: #ddddff;
}
a
{
  text-decoration: none;
}
.nav
{
    padding: 0;
}
.FTL
{
    color: cyan;
    margin: 10px;
}
.T
{
    color: black;
    transition: .4s;   
}
.T:hover
{
    color: cyan;
    transition: .4s;
}
